:host {
  header {
    background-color: lightblue;
    height: 50px;

    .header-inner {
      height: 100%;

      &__wrapper {
        height: 100%;

        &--list {
          display: flex;
          justify-content: left;
          align-items: center;
          height: 100%;
          list-style-type: none;
          margin: 0;

          > li {
            margin-right: 40px;
          }
        }
      }
    }
  }
}
